

<h3><%= @designer.name%></h3>
<div class="designer-page">
  <strong>Location:</strong>
  <h5><italic><%= @designer.location%></italic></h5>



<p>Current Products</p>
<ul>
  <% @products.each do |product|%>
  <li>
    <%= product.name %>
  </li>
  <% end %>
</ul>



<a href="/designers/<%= @designer.id %>/edit">Edit Designer Info</a>
<br>
<form action="/designers/<%= @designer.id %>/delete" method="POST">
  <br>
  <input type="submit" value="Delete Designer">
</form>


</div>
