<h3><%= @designer.name%></h3>
<p>Location: <%= @designer.location%></p>


<!-- designers/id/products -->
<a href="/designers/<%= @designer.id %>/edit">Edit Designer Info</a>

<form action="/designers/<%= @designer.id %>/delete" method="POST">
  <br>
  <input type="submit" value="Delete">

<!-- FIXXX THIIIISSSS -->
<p>List of products</p>
<% for product in @products %>

<p>Name: <%= product.name %></p>
<% end %>
<br>
<br>
<div>
  <a href='/designers'> Back to listings</a>
</div>
