<h1>Shop listings by PRODUCT</h1>
<hr>

<div class="create-product">
  <a href="/products/new">Create new product</a>
</div>

<div class="heading-for-page">
  <h3>Current Products</h3>
</div>

<div class="product-table-one">

  <% for product in @products %>

<table
  style="width: 100%;
  display: flex;
  justify-content: center;">
  <tbody>

  <tr>
    <th>Products</th>
    <th></th>
  </tr>
  <br>
  <tr>
    <td>Company</td>
    <td>:</td>
    <td><%= product.designer.name%></td>
  </tr>

    <tr>
      <td>Description</td>
      <td>:</td>
      <td><%= product.description %></td>
    </tr>
    <tr>
      <td>Current Stock</td>
      <td>:</td>
      <td><%= product.stock_quantity %></td>
    </tr>
    <tr>
      <td>Cost</td>
      <td>:</td>
      <td>£<%= product.buy_price %></td>
    </tr>
    <tr>
      <td>Sell Price</td>
      <td>:</td>
      <td>£<%= product.sell_price %></td>
    </tr>
    <div class="total">
      <tr>
        <td><strong>Markup</strong></td>
        <td>:</td>
        <td><strong>£<%= product.markup %></strong></td>
      </tr>
    </div>
  <% end %>
  </tbody>
</table>
</div>
<br>
<br>
<br>
<br>
<br>




<table style="width: 100%;
  display: flex;
  justify-content: center;">>

<% for product in @products %>
<form action="/products/<%= product.id %>/delete" method="POST">
  <br>
  <input type="submit" value="Delete Product shows id">
</form>
<% end %>

</table>




<form class="markup-return" action="/products/new" method="post">

  <p>Calculate markup:</p>

    <input type="submit"  value="<% for product in @products %>
      <%= product.markup %>
      <% end %>">
</form>

<br>
<br>
<div class="centre-back">
    <a class="back-home" href='/designers'>Designers</a>

  <br>
  <br>

  <div>
    <a  class="back-home" href='/'>Home</a>
  </div>
</div>
