

<div class="heading-for-page">
  <h3>Listings for current Products</h3>
  <hr>
</div>

<div class="product-table-one">

  <% for product in @products %>

<table
  style="width: 100%;
  display: flex;
  justify-content: center;">
  <tbody>

  <tr>
    <th>Product</th>
    <th></th>
  </tr>

  <br>

  <tr>
    <td>Company</td>
    <td>:</td>
    <td><%= product.designer.name%></td>
  </tr>
  <tr>
    <td>Product type</td>
    <td>:</td>
    <td><%= product.name %></td>
  </tr>
    <tr>
      <td>Description</td>
      <td>:</td>
      <td><%= product.description %></td>
    </tr>
    <tr>
      <td>Cost per item</td>
      <td>:</td>
      <td>£<%= product.buy_price %></td>
    </tr>
    <tr>
      <td>Retail per item</td>
      <td>:</td>
      <td>£<%= product.sell_price %></td>
    </tr>
    <tr>
        <td>Markup per item</td>
        <td>:</td>
        <td>£<%= product.markup %></td>
      </tr>

      <tr>
        <td>Current Stock</td>
        <td>:</td>
        <td><%= product.stock_quantity %></td>
      </tr>

      <tr>
    <tr>
      <td><strong>Total Stock Value</strong></td>
      <td>:</td>
      <td><strong>£<%= product.total_stock_amount %></strong></td>
    </tr>
    <div class="table-row-color">
    <tr>
      <td><strong>Potential Profit</strong></td>
      <td>:</td>
      <td><strong>£<%= product.potential_profit %></strong></td>
    </tr>
    
    </div>

        <td>
        <form action="/products/<%= product.id %>/delete" method="POST">
          <br>
          <input type="submit" value="Delete Product">
        </form>
        </td>

  <% end %>
  </tbody>

</table>
</div>
<br>
<br>
<br>
<br>
<br>
<div class="create-product">
  <a href="/products/new">Create new product</a>
  <br>
  <!-- <a href="/products/edit">Edit Product</a> -->

</div>
