<h1>Shop listings by PRODUCT</h1>
<hr>
<h3>Current Products:</h3>

<div class="product-table">

<table>
  <tr>
    <th>Product Type</th>
    <td>|</td>
    <th>Description</th>
    <td>|</td>
    <th>Stock</th>
    <td>|</td>
    <th>Cost</th>
    <td>|</td>
    <th>Sell Price</th>
    <td>|</td>
    <th>Markup</th>
    <td>|</td>
    <th>Designer</th>
  </tr>
    <% for product in @products %>

<tr>
  <td><a href="/products/<%= product.id %>"><%= product.name %></a></td>
    <td>|</td>
    <td><%= product.description %></td>
    <td>|</td>
    <td><%= product.stock_quantity%></td>
    <td>|</td>
    <td>$<%= product.buy_price%></td>
    <td>|</td>
    <td>$<%= product.sell_price%></td>
    <td>|</td>
    <td>$<%= product.markup%></td>
    <td>|</td>
    <td><%= product.designer.name%></td>
  </tr>
<% end %>

</table>
</div>
<br>
<br>
<br>
<br>
<div>


  <a href='/'>Back to welcome</a>
</div>
