<h1>Shop listings by PRODUCT</h1>
<hr>

<div class="create-product">
  <a href="/products/new">Create new product</a>
</div>

<h3>Current Products:</h3>

<div class="product-table-one">

  <% for product in @products %>

<table>
  <tr>
    <th>Products</th>
    <th></th>
  </tr>
  <br>
  <tr>
    <td>Company</td>
    <td>:</td>
    <td><%= product.designer.name%></td>
  </tr>

    <tr>
      <td>Description</td>
      <td>:</td>
      <td><%= product.description %></td>
    </tr>
    <tr>
      <td>Current Stock</td>
      <td>:</td>
      <td><%= product.stock_quantity %></td>
    </tr>
    <tr>
      <td>Cost</td>
      <td>:</td>
      <td>£<%= product.buy_price %></td>
    </tr>
    <tr>
      <td>Sell Price</td>
      <td>:</td>
      <td>£<%= product.sell_price %></td>
    </tr>
      <div class="total">
    <tr>
      <td>Markup></td>
      <td>:</td>
      <td>£<%= product.markup %></td>
    </tr>
      </div>
  <% end %>
</table>
</div>
<br>
<br>
<br>
<br>
<br>





<% for product in @products %>
<form action="/products/<%= product.id %>/delete" method="POST">
  <br>
  <input type="submit" value="Delete Product shows id">
</form>
<% end %>

<div>
  <a href='/'>Back to welcome</a>
</div>
