<h1>Shop listings by PRODUCT</h1>
<hr>

<div class="heading-for-page">
  <h3>Current Products</h3>
</div>

<div class="product-table-one">

  <% for product in @products %>

<table
  style="width: 100%;
  display: flex;
  justify-content: center;">
  <tbody>

  <tr>
    <th>Products</th>
    <th></th>
  </tr>
  <br>
  <tr>
    <td>Company</td>
    <td>:</td>
    <td><%= product.designer.name%></td>
  </tr>

    <tr>
      <td>Description</td>
      <td>:</td>
      <td><%= product.description %></td>
    </tr>
    <tr>
      <td>Current Stock</td>
      <td>:</td>
      <td><%= product.stock_quantity %></td>
    </tr>
    <tr>
      <td>Cost</td>
      <td>:</td>
      <td>£<%= product.buy_price %></td>
    </tr>
    <tr>
      <td>Sell Price</td>
      <td>:</td>
      <td>£<%= product.sell_price %></td>
    </tr>
    <tr>
      <td>Total Stock Amount</td>
      <td>:</td>
      <td>£<%= product.total_stock_amount %></td>
    </tr>
    <tr>
      <td>Potential Profit</td>
      <td>:</td>
      <td>£<%= product.potential_profit %></td>
    </tr>
    <tr>
        <td><strong>Markup</strong></td>
        <td>:</td>
        <td><strong>£<%= product.markup %></strong></td>
      </tr>
      <tr>
        <td>
        <form action="/products/<%= product.id %>/delete" method="POST">
          <br>
          <input type="submit" value="Delete Product">
        </form>
        </td>
      </tr>
  <% end %>
  </tbody>

</table>
</div>
<br>
<br>
<br>
<br>
<br>
<div class="create-product">
  <a href="/products/new">Create new product</a>
</div>
